apiVersion: v2
description: A Helm chart for the HMCTS CCD Message Publisher
name: ccd-message-publisher
home: https://github.com/hmcts/ccd-message-publisher
version: 0.1.23
maintainers:
  - name: HMCTS CCD Dev Team
dependencies:
  - name: java
    version: 5.3.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
  - name: servicebus
    version: 1.2.1
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: servicebus.enabled
  - name: ccd
    version: 9.2.2
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: ccd.enabled
