server:
  port: 4455

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus

spring:
  application:
    name: ccd-message-publisher
  main:
    allow-bean-definition-overriding: true
  jms:
    servicebus: 
      connection-string: ${SERVICE_BUS_CONNECTION_STRING}
      idle-timeout: ${SERVICE_BUS_IDLE_TIMEOUT:1800000}
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DATA_STORE_DB_HOST:localhost}:${DATA_STORE_DB_PORT:5452}/${DATA_STORE_DB_NAME:ccd_data}${DATA_STORE_DB_OPTIONS:?stringtype=unspecified}
    username: ${DATA_STORE_DB_USERNAME:ccd}
    password: ${DATA_STORE_DB_PASSWORD:ccd}
    properties:
      charSet: UTF-8
    hikari:
      minimumIdle: ${MESSAGE_PUBLISHER_DB_MIN_IDLE:4}
      maximumPoolSize: ${MESSAGE_PUBLISHER_DB_MAX_POOL_SIZE:12}
      idleTimeout: ${MESSAGE_PUBLISHER_DB_IDLE_TIMEOUT:300000}
      maxLifetime: ${MESSAGE_PUBLISHER_DB_MAX_LIFTIME:7200000}
      connectionTimeout: ${MESSAGE_PUBLISHER_DB_CONNECTION_TIMEOUT:40000}
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jms.activemq.ActiveMQAutoConfiguration

message-publisher:
  tasks[0]:
    message-type: ${CCD_CASE_EVENTS_MESSAGE_TYPE:CASE_EVENT}
    destination: ${CCD_CASE_EVENTS_DESTINATION:ccd-case-events-demo}
    schedule: ${CCD_CASE_EVENTS_SCHEDULE:*/10 * * * * *}
    batch-size: ${CCD_CASE_EVENTS_BATCH_SIZE:1000}
    published-retention-days: ${CCD_CASE_EVENTS_PUBLISHED_RETENTION_DAYS:7}
    enabled: ${CCD_CASE_EVENTS_ENABLED:true}
